nav {
  width: 100vw;
  align-items: center;
  height: 7rem;
  background-color: #d8cad3;
  position: fixed;
  padding: 0.5rem 0;
  z-index: 100;
  transition: top 0.3s;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 90%;
  margin: auto;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 7rem;
}

ul.nav-links-container {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  padding: 0;
  gap: 2.5rem;
  z-index: 100;
}

.nav-links-container li,
.nav-links-container li a {
  text-decoration: none;
  list-style: none;
  color: #000000c0;
  font-weight: 500;
}

li a:hover,
li a.active {
  font-weight: 700;
}

.d-none,
.burger-icon,
.close-icon {
  display: none;
  opacity: 0;
  pointer-events: none;
}

@media screen and (max-width: 700px) {
  ul.nav-links-container {
    position: fixed;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    right: 0;
    height: 81vh;
    width: 50%;
    top: 8rem;
    opacity: 0;
    background-color: #f8f8f0;
    transform: translateX(100%);
    transition: all 1000ms ease;
  }

  ul.nav-links-container li {
    display: none;
  }

  .burger-icon {
    display: flex;
    color: #000000c0;
    font-size: 3rem;
    opacity: 100%;
    transition: all 3000ms ease;
    pointer-events: auto;
  }

  .close-icon {
    display: flex;
    position: absolute;
    opacity: 1;
    color: #000000c0;
    font-size: 3rem;
    right: 5%;
    pointer-events: auto;
  }

  ul.nav-links-container.active {
    transform: translateX(0);
    opacity: 1;
  }

  ul.nav-links-container.active li {
    display: flex;
  }
}
