.big-container#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 10rem;
  padding-bottom: 2rem;
}

.big-container#skills svg {
  position: absolute;
}

.big-container#skills svg#top {
  top: 0;
}

.big-container#skills svg#bottom {
  bottom: 0;
}

#skills h2.skills-title {
  font-size: 2.5rem;
  color: #000000f0;
  z-index: 2;
  position: relative;
  bottom: 2rem;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 90%;
  padding: 2rem 0 0 0;
}

.skill {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill img {
  width: 80%;
  object-fit: cover;
  border-radius: 20%;
  margin: auto;
}

.line {
  width: 70%;
}

.line.one {
  height: 2px;
  background-color: #8a93b7;
  margin-bottom: 3px;
}

.line.two {
  height: 5px;
  background-color: #d8ccd3;
}

@media screen and (min-width: 500px) {
  #skills h2.skills-title {
    bottom: 1rem;
  }
}

@media screen and (min-width: 700px) {
  #skills h2.skills-title {
    bottom: 5.5rem;
    color: white;
  }

  .skills-container {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0;
    row-gap: 3rem;
    width: 90%;
    padding: 0;
  }
  .skill img {
    width: 60%;
  }

  .big-container#skills {
    padding-bottom: 7rem;
  }
}

@media screen and (min-width: 1000px) {
  #skills h2.skills-title {
    bottom: 4rem;
    font-size: 3rem;
  }

  .skills-container {
    padding-top: 3rem;
    padding-bottom: 5rem;
  }

  .skill img {
    width: 50%;
  }

  .skills-container {
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  #skills h2.skills-title {
    bottom: 3rem;
    font-size: 4rem;
  }

  .skills-container {
    padding-top: 5rem;
    padding-bottom: 7rem;
  }

  .skill img {
    width: 30%;
  }
}

@media screen and (min-width: 1500px) {
  #skills h2.skills-title {
    bottom: 1rem;
    font-size: 5rem;
  }

  .skills-container {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}
