.big-container#section1 {
  padding-block: 2rem;
}

#section1 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.left img {
  width: 65%;
  box-shadow: 6px 7px 20px 0px rgba(0, 0, 0, 0.5);
}

.left .background-color {
  width: 70%;
  height: 75vw;
  z-index: -1;
  background-color: #8a93b7;
  position: absolute;
  top: 15%;
  right: 0;
  border-radius: 10px;
}

.right {
  padding-top: 15%;
}

.section1-title {
  margin-block: 1rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.section1-subtext {
  margin-bottom: 1rem;
}

.right div button {
  width: 40%;
  background-color: transparent;
  border: solid 1px #000000c0;
  margin-top: 2.5rem;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  color: #000000c0;
  text-decoration: none;
  text-align: center;
}

.right div button:hover {
  border: solid 1px #d8cbd3;
  background-color: #d8cbd3;
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  .right {
    padding-top: 1rem;
  }

  .section1-title {
    width: 40vw;
  }

  .section1-subtext {
    width: 40vw;
  }

  .left .background-color {
    height: 100vw;
  }

  .right div button {
    width: 30%;
    margin-top: 3rem;
  }
}

@media screen and (min-width: 1000px) {
  #section1 .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-block: 3rem;
  }

  .right {
    width: 28vw;
  }

  .section1-title {
    width: 100%;
  }

  .section1-subtext {
    width: 100%;
  }

  .left .background-color {
    height: 100%;
    width: 30vw;
    top: 0;
    left: 0;
  }

  .left img {
    width: auto;
    height: 85vh;
    background-color: transparent;
    margin-block: 2rem;
    margin-left: 20%;
  }

  .section1-title {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .section1-subtext {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 2rem;
  }

  .right div button {
    width: 40%;
    margin-top: 2rem;
  }
}
