.container.jumbotron1 {
  height: fit-content;
  position: relative;
  width: 100vw;
  margin: auto;
  padding-bottom: 3rem;
  padding-top: 4rem;
}

.info-container {
  width: 90%;
  height: 100%;
  z-index: 1;
  background: transparent;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  border-radius: 10px;
  padding: 2rem 0;
}

p.jumbotron-pretitle {
  font-size: 1.2rem;
  color: #000000c0;
}

p.jumbotron-title {
  margin-top: 1rem;
  font-size: 2.2rem;
  font-weight: 800;
  color: #d8cbd3;
}

p.jumbotron-subtitle {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 800;
  color: #8a93b7;
}

span.text {
  margin-top: 1rem;
  width: 90%;
  font-size: 1rem;
  font-weight: 600;
  color: #8a93b7;
  line-height: 1.5rem;
}

.info-container .link-to-footer {
  width: 40%;
  background-color: transparent;
  border: solid 1px #000000c0;
  margin-top: 2.5rem;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  color: #000000c0;
  text-decoration: none;
  text-align: center;
}

.info-container .link-to-footer:hover {
  border: solid 1px #d8cbd3;
  background-color: #d8cbd3;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  span.text {
    width: 60%;
  }

  p.jumbotron-title {
    font-size: 3rem;
  }

  p.jumbotron-subtitle {
    font-size: 3rem;
  }

  .info-container .link-to-footer {
    width: 30%;
    margin-top: 3rem;
  }
}

@media screen and (min-width: 1000px) {
  p.jumbotron-title {
    margin-top: 1rem;
    font-size: 3.5rem;
  }

  p.jumbotron-subtitle {
    margin-top: 1rem;
    font-size: 3.5rem;
  }

  span.text {
    margin-top: 1.5rem;
    font-weight: 600;
    font-size: 1.1rem;
  }

  .info-container {
    width: 70%;
  }

  .container.jumbotron1 {
    padding-top: 6%;
    padding-bottom: 3%;
  }

  .info-container .link-to-footer {
    width: 25%;
    margin-top: 4rem;
  }
}
