#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
}

.copyright-cont {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8a93b7;
  width: 100%;
  font-size: 0.7rem;
  color: white;
}

.form-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

h2.form-title {
  font-size: 1.8rem;
  color: #000000f0;
}

p.form-subtitle {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #000000c0;
  font-weight: 600;
}

.top-inputs,
.bottom-inputs {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

.top-inputs input,
.bottom-inputs textarea {
  padding: 0.5rem;
  border-radius: 5px;
  border: solid 1px;
  font-family: "Montserrat", sans-serif;
}

.bottom-inputs button {
  padding: 0.5rem 1rem;
  color: white;
  background-color: #8a93b7;
  border-radius: 20px;
  border: solid 1px #8a93b7;
  margin-top: 1rem;
}

@media screen and (min-width: 500px) {
  #footer {
    padding-top: 2rem;
  }
  .top-inputs {
    flex-direction: row;
  }
  .form-container {
    margin-bottom: 2rem;
    width: 90%;
  }
  .top-inputs input {
    width: 50%;
  }
}

@media screen and (min-width: 800px) {
  .form-container {
    margin-bottom: 3rem;
    width: 70%;
  }

  .bottom-inputs button {
    font-size: 1.1rem;
  }
  .copyright-cont {
    font-size: 0.8rem;
  }

  p.form-subtitle {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1000px) {
  .form-container {
    width: 50%;
  }
}
