#about-me .container {
  flex-direction: column;
  padding-top: 3rem;
}

.about-me-content-container {
  width: 100%;
}

#about-me .img-cont img {
  width: 100%;
}

.about-me-title-cont {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 2.5rem;
}

.about-me-title-cont h1 {
  width: 16ch;
  color: #d8cad3;
}

.about-me-title-cont .about-me-line {
  width: 100%;
  height: 1.5px;
  background-color: #d8cad3;
}

.text-cont {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.text-cont p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000000c0;
  font-weight: 400;
}

.text-cont p span {
  color: #8a93b7;
  font-weight: 600;
}

.text-cont ul {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 0;
  overflow: hidden;
  padding-bottom: 3rem;
}

.text-cont ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #000000c0;
  font-size: 1rem;
  line-height: 2rem;
}

.text-cont ul li#text {
  overflow: hidden;
}

.text-cont ul li svg {
  color: #d8cad3;
}

#about-me .img-cont {
  position: relative;
  padding-right: 2rem;
  padding-bottom: 2rem;
  margin-inline: 15vw;
}

#about-me .img-cont img {
  border-radius: 10px;
}

#about-me .img-cont .border {
  border: #8a93b7 solid 5px;
  width: 85%;
  height: 85%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-radius: 10px;
}

@media screen and (min-width: 500px) {
  #about-me .img-cont {
    margin-inline: 20vw;
  }
}

@media screen and (min-width: 800px) {
  .about-me-content-container {
    display: flex;
    align-items: center;
  }
  #about-me .img-cont {
    margin-inline: 0;
    height: fit-content;
    margin-left: 3rem;
    margin-right: 2rem;
  }

  .text-cont ul {
    padding-bottom: 0;
  }

  #about-me .text-cont {
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  #about-me .container {
    width: 70%;
    margin: auto;
    margin-bottom: 2rem;
  }

  #about-me .text-cont {
    width: 60%;
  }

  #about-me .img-cont {
    margin-right: 3rem;
    height: fit-content;
  }

  .about-me-title-cont h1 {
    font-size: 4rem;
    font-weight: 600;
  }
}
